<script src="http://lab.lepture.com/github-cards/widget.js"></script>
<h1>About Us</h1>
<br>

<div class='container-fluid border-0 well'>   
        <h1>Renato Costa</h1>
        <br>

        <div style="width:100%; text-align:center">
            <img class='gitProfile' align="middle" src="https://avatars3.githubusercontent.com/u/16962487?v=4&s=460" alt="github profile picture" />
        
            <br>
        <br>
            <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: rc.nato94@gmail.com</h4>
            <h4><a href='https://github.com/nato94'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Github Profile</a></h4>
        </div>


</div>

<div class='container-fluid border-0 well'>
        <h1>Matthew Piskunov</h1>
        <br>

        <div style="width:100%; text-align:center">
            <img class='gitProfile' align="middle" src="https://avatars3.githubusercontent.com/u/16545574?v=4&s=460" alt="github profile picture" />
        
            <br>
            <br>
            <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: mrpiskunov@email.neit.edu</h4>
            <h4><a href='https://github.com/mpiskunov'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Github Profile</a></h4>
        </div>
</div>

<div class='container-fluid border-0 well'>
        <h1>Erika Saguay</h1>
        <br>

        <div style="width:100%; text-align:center">
            <img class='gitProfile' align="middle" src="https://avatars0.githubusercontent.com/u/18127920?v=4&s=460" alt="github profile picture" />
            
            <br>
            <br>
            <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: ecguaman@email.neit.edu</h4>
            <h4><a href='https://github.com/ErikaSaguay'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Github Profile</a></h4>
        </div>
</div>