<div style="position: relative; height: 500px; width: 500px">
	  <canvas id="logoCanvas" ></canvas>
	</div>
	  <div>
	    <button id="previousStep">Back</button>
	  <ul>
	  <li><button id="step0">Background Image</button></li>
	  <li><button id="step1">Icon</button></li>
	  <li><button id="step2">Inner Icon</button></li>
	  <li><button id="step3">Text</button></li>
	  <li><button id="step4">Step 4</button></li>
	  <a id="dl" download="Canvas.png" href="#">Download Canvas</a>
	 </ul>
	</div>
	<form id="uploadForm" action='/createAndAddLogo' method="post">
		<input type="hidden" name="dataURL" id="dataURL" />
		<!-- <input type="file" name="imgFile" id="imgFile" /> -->
		<input type="submit" value="Upload File" id="submit" name="submit">
	</form>