<div class='container-fluid border-0 well'>
	<h1 style="text-align: center;">Help</h1>

		<img class="how-pic" src="images/help_images/1step.png">

		<h4 class="how-text">First Select a background color, you may choose from our color picker or upload your own image</h4>

		<img class="how-pic" src="images/help_images/2step.png">

		<h4 class="how-text">Next you must select an outter shape to surround your logo content. Adjust the position of the shape with the arrow buttons if needed.</h4>

		<img class="how-pic" src="images/help_images/3step.png">

		<h4 class="how-text">Next you must select an inner shape to be inside the outer shape you chose previously. Adjust the position of the shape with the arrow buttons if needed.</h4>


		<img class="how-pic" src="images/help_images/4step.png">

		<h4 class="how-text">Next you must select an Icon to put on your logo. Adjust the position of the icon with the arrow buttons if needed.</h4>


		<img class="how-pic" src="images/help_images/5step.png">

		<h4 class="how-text">Next you must choose whether to add text or not. Use the input field to enter the text you want displayed. If you don't wish to add text simply leave the input blank. Adjust the position of the text with the arrow buttons if needed.</h4>

		<img class="how-pic" src="images/help_images/6step.png">

		<h4 class="how-text">Finally, you can choose to add a second text field or not. Use the input field to enter the text you want displayed. If you don't wish to add text simply leave the input blank. Adjust the position of the text with the arrow buttons if needed.</h4>

</div>