<div class='container-fluid border-0 well'>
	<h1 style="text-align: center;">Help</h1>

		<img class="how-pic" src="images/help_images/1step.png">

		<h4 class="how-text">First Select a background color, you may choose from our color picker or upload your own image</h4>

		<img class="how-pic" src="images/help_images/2step.png">

		<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age 
			properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living.
			 Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>



		<img class="how-pic" src="images/help_images/3step.png">

		<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age 
			properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living.
			 Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>


		<img class="how-pic" src="images/help_images/4step.png">

		<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age 
			properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living.
			 Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>


		<img class="how-pic" src="images/help_images/5step.png">

		<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age 
			properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex onsdf at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty 
			living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>

</div>