<section id="home">
			
        <h1 class="welcome">Hello User!</h1>
        <h3><%= messages %></h3>
        <p class="info"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aliquam condimentum arcu ac erat tincidunt luctus. Sed ornare consectetur ante, a porttitor ligula iaculis in. 
        Quisque fermentum auctor euismod. Aenean pulvinar dolor orci, ac molestie eros rutrum in. Proin id velit accumsan, 
        pharetra purus ac, sollicitudin justo. Nam feugiat gravida velit, eget ultrices eros volutpat sed. Suspendisse viverra 
        porta augue, nec faucibus urna imperdiet sit amet. Vivamus volutpat finibus eros, non blandit magna ultrices ut. 
        Pellentesque purus ipsum, pretium sit amet ultricies quis, mattis nec arcu. Suspendisse fringilla ex eleifend nisl consequat, 
        nec condimentum ligula pellentesque. Etiam consectetur consectetur lectus, id mollis diam faucibus at. 
        Pellentesque lobortis Pellentesque purus ipsum, pretium sit amet ultricies quis, mattis nec arcu. 
        Suspendisse fringilla ex eleifend nisl consequat, nec condimentum ligula pellentesque. Etiam consectetur consectetur lectus, 
        id mollis diam faucibus at. 
        Pellentesque lobortis
        <a href="#"class="nav-link" id="a-create-link">Get Started</a> semper lorem nec 
        <a href="#" class="nav-link" id="a-help-link">How To</a> ultrices.</p>
</section> 
