<!-- partials/sidebar.ejs -->

	<nav id="web-nav">
		<a href="#"><img class="logo" src="/images/logo.png"></a>
        <ul id="menu">

			<li><a href="#" class="bordered-text bordered-text-focus" id="nav-home-btn">Home</a></li>
			<li><a href="#" class="bordered-text" id="nav-logos-btn">Logos</a></li>
			<li><a href="#" class="bordered-text" id="nav-create-btn">Create</a></li>
			<li><a href="#" class="bordered-text" id="nav-help-btn">Help</a></li>
		</ul> 
	</nav>
