<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body >

	<nav id="web-nav">
		<a href="#"><img class="logo" src="/images/logo.png"></a>
        <ul id="menu">

			<li><a href="#" class="bordered-text bordered-text-focus" id="nav-home-btn">Home</a></li>
			<li><a href="#" class="bordered-text" id="nav-logo-btn">Logos</a></li>
			<li><a href="#" class="bordered-text" id="nav-create-btn">Create</a></li>
			<li><a href="#" class="bordered-text" id="nav-help-btn">Help</a></li>
		</ul> 
	</nav>
	<div id="content-wrapper">

		<section id="home">
			
			<h1 class="welcome">Hello User!</h1>

			<p class="info"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aliquam condimentum arcu ac erat tincidunt luctus. Sed ornare consectetur ante, a porttitor ligula iaculis in. 
                        Quisque fermentum auctor euismod. Aenean pulvinar dolor orci, ac molestie eros rutrum in. Proin id velit accumsan, 
                        pharetra purus ac, sollicitudin justo. Nam feugiat gravida velit, eget ultrices eros volutpat sed. Suspendisse viverra 
                        porta augue, nec faucibus urna imperdiet sit amet. Vivamus volutpat finibus eros, non blandit magna ultrices ut. 
                        Pellentesque purus ipsum, pretium sit amet ultricies quis, mattis nec arcu. Suspendisse fringilla ex eleifend nisl consequat, 
                        nec condimentum ligula pellentesque. Etiam consectetur consectetur lectus, id mollis diam faucibus at. 
                        Pellentesque lobortis Pellentesque purus ipsum, pretium sit amet ultricies quis, mattis nec arcu. 
                        Suspendisse fringilla ex eleifend nisl consequat, nec condimentum ligula pellentesque. Etiam consectetur consectetur lectus, 
                        id mollis diam faucibus at. 
                        Pellentesque lobortis
                        <a href="#"class="nav-link" id="a-create-link">Get Started</a> semper lorem nec 
                        <a href="#" class="nav-link" id="a-help-link">How To</a> ultrices.</p>
		</section> 


		<section id="logos">
			
		</section>
		<section id="create">
			    <div id="logo-graphic-frame">
		            <svg version="1.1" id="logo-graphic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600px" height="500px" viewBox="0 0 900 750">
		            	<defs></defs>
		                <g id="pizzazz">
		                    <image id="bg-image-svg" x="0" y="0" width="100%" height="100%" xlink:href=""/>
		                    <rect id="bg-color-svg" x="0" y="0" width="100%" height="100%" fill="none"/>
		                </g>
		                <g id="base"></g>
		                <g id="swag"></g>
		                <g id="text"></g>
		            </svg>
		        </div> <!--logo-graphic-frame-->
		        
		        <div id="group-options-frame">
		            <div class="bordered-text no-hover bordered-text-focus">Choose Your<br />Base Shape</div>
		            <div class="bordered-text no-hover" id="swag-group-btn">Add Some<br />Graphics</div>
		            <div class="bordered-text no-hover" id="text-group-btn">Lets Personalize<br />This Shiz</div>
		            <div class="bordered-text no-hover" id="pizzazz-group-btn">Add Some<br />Colors</div>
		            <div class="bordered-text no-hover" id="group-options-generate-btn">Generate Logo</div>
		        </div> <!--group-options-frame-->
		        
		        <div id="subgroup-options-frame">
		            <div class="bordered-text bordered-text-focus" id="next-btn">Next</div>
		            <div id="subgroup-options"></div> <!--subgroup-options-->
		        </div> <!--subgroup-options-frame-->
		        
		        <div id="graphic-options-frame">
		        	<div class="bordered-text no-hover bordered-text-focus">Select Options</div>
		            <div id="graphic-options"></div> <!--graphic-options-->
		            <div id="logo-color-selector" class="special-graphic-option">
		            	<input type="text" id="logo-color-select">
		                <div id="logo-color-options">
		                    <div id="direct-element-color-selector-btn" class="btn btn-focus" title="Click a logo element to change its color."><span>Direct Select (Click Element)</span></div>
		                    <div id="base-color-selector-btn" class="btn"><span>Base Shape</span></div>
		                    <div id="swag-color-selector-btn" class="btn"><span>All Graphics</span></div>
		                    <div id="text-color-selector-btn" class="btn"><span>All Text</span></div>
		                </div> <!--logo-color-options-->
		            </div> <!--logo-color-selector-->
		            <div id="bg-color-selector" class="special-graphic-option">
		            	<input type="text" id="bg-color-select">
		            </div> <!--bg-color-selector-->
		        </div> <!--graphic-options-frame-->
		        
		        <div id="result-text">
		            <h1 id="result-header">That&acute;s some grade graphics.</h1>
		            <div id="meter-frame">
		                <div id="meter">
		                    <div class="meter-bar" id="meter-bar-5"></div>
		                    <div class="meter-bar" id="meter-bar-4"></div>
		                    <div class="meter-bar" id="meter-bar-3"></div>
		                    <div class="meter-bar" id="meter-bar-2"></div>
		                    <div class="meter-bar" id="meter-bar-1"></div>
		                </div> <!--meter-->
		                <h2>You <span></span> created a logo</h2>
		            </div> <!--meter-frame-->
		            <div id="result-links">
		                <a href="#">Start over</a>
		            </div> <!--result-links-->
		        </div> <!--result-text-->
		</section>
		<section id="help">
			<h1 style="text-align: center;">Help</h1>

				<img class="how-pic" src="/images/flower.jpg">
				<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>


				<img class="how-pic" src="/images/flower.jpg">
				<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>

				<img class="how-pic" src="/images/flower.jpg">
				<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>

				<img class="how-pic" src="/images/flower.jpg">
				<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>

				<img class="how-pic" src="/images/flower.jpg">
				<p class="how-text">SIt if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman. It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>
		</section>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/spectrum.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	</div>


</body>
</html>