<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <nav id="web-nav">
		<a href="#"><img class="logo" src="static/images/logo.png"></a>
        <ul id="menu">
			<li><a href="/" class="bordered-text bordered-text-focus" id="nav-home-btn">Home</a></li>
			<li><a href="/MyLogos" class="bordered-text" id="nav-logos-btn">Logos</a></li>
			<li><a href="/CreateLogo" class="bordered-text" id="nav-create-btn">Create</a></li>
			<li><a href="/Help" class="bordered-text" id="nav-help-btn">Help</a></li>
			 <% if(typeof(user) !== 'undefined') { %>
                   	 <li><a href="/logout" class="bordered-text" >Logout</a></li>
           		 <% } %>
		</ul> 
	</nav>
</head>
<body >
	<div id="content-wrapper">
	<%- body %>
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/spectrum.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
	<script type="text/javascript" src="static/js/canvas.script.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>
