/*
body{
    font-size: 1em;
    font-family: Josefin Slab, Abril Fatface;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #4abdac;
}
 Navigation 
#web-nav{
  width: 100%;
  margin: 0;
}

#menu {
  list-style:none;
  margin:0;
  padding: 0;
  width: 100%;

  
}
li a {
    display:block;
    text-decoration:none;
    padding:15px 0 15px 0;
    background-color:#822d50;
    color:#f6e731;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;

}
.select
{
background-color:#a33964;
}
#signup {
	display: none;

}
 Header
h1{
	text-align:center;
}
 Form 
.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 0 5px 0;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #999;
}
.login-form {
  width: 30%;
  padding: 0 0px;
  background-color: #a33964;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#content-wrapper{
  padding:20%;
}
.submit-btn {
  background: #ffd700;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: white;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 8px;
  border-radius: 4px;
}

*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  background: #E5FDF7;
  padding: 40px !important;
  max-width: 600px !important;
  margin: 40px 160px !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3) !important;
}

.tab-group {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 0 40px 0 !important;
}

.tab-group:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.tab-group li a {
  display: block !important;
  text-decoration: none !important;
  padding: 15px !important;
  background: #fff !important;
  color: #D6D61C !important;
  font-size: 20px !important;
  float: left !important;
  width: 50% !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-transition: .5s ease !important;
  transition: .5s ease !important;
}

.tab-group li a:hover {
  background: #D6D61C !important;
  color: #fff !important;
}

.tab-group .active a {
  background: #D6D61C !important;
  color: #ffffff !important;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #D6D61C;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: #D6D61C;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 18px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: black;
}

input, textarea {
  font-size: 22px ;
  display: block ;
  width: 100% ;
  height: 100% ;
  padding: 5px 10px ;
  background: none ;
  background-image: none ;
  border: 1px solid #a0b3b0 ;
  color: #ffffff ;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease ;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0 !important;
  border-color: #1ab188 !important;
}

textarea {
  border: 2px solid #a0b3b0 !important;
  resize: vertical !important;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 3px;
  border-style: solid;
  border-color: #D6D61C;
  border-width: 5px;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #fff;
  color: #D6D61C;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #D6D61C;
  color: #fff;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.welcome{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;

}
