
body{
    font-size: 1em;
    font-family: Josefin Slab, Abril Fatface;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #4abdac;

}
/* Navigation */
#web-nav{
  width: 100%;
  margin: 0;
}

#menu {
  list-style:none;
  margin:0;
  padding: 0;
  width: 100%;

  
}
li a {
    display:block;
    text-decoration:none;
    padding:15px 0 15px 0;
    background-color:#822d50;
    color:#f6e731;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;

}
.select
{
background-color:#a33964;
}
#signup {
	display: none;

}
/* Header */
h1{
	text-align:center;
}
/* Form */
.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 0 5px 0;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #999;
}
.login-form {
  width: 30%;
  padding: 0 0px;
  background-color: #a33964;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#content-wrapper{
  padding:20%;
}
.submit-btn {
  background: #ffd700;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: white;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 8px;
  border-radius: 4px;
}

