<!DOCTYPE html>
<html>
<head>

    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body >


	<div id="content-wrapper">

		<% include ../partials/sidebar %>
		<% include ../partials/homepartial %>
		<% include ../partials/logospartial %>
		<% include ../partials/canvaspartial %>
		<% include ../partials/helppartial %>
		
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/spectrum.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/canvas.script.js"></script>
	</div>


</body>
</html>
