
<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body >

<div class="login-form">
	<div id="web-nav">
        <ul id="menu">

			<li><a href="#" class="bordered-text bordered-text-focus select" id="nav-login-btn">Login</a>
			</li>
		
			<li><a href="#" class="bordered-text" id="nav-signup-btn">Signup</a></li>
		</ul> 
	</div>
	<div id="content-wrapper">

		<section id="signup">
		  <h1>Sign Up for Free</h1>
          
          <form action="/auth/signup" method="post" >
                 <div class="form-group ">
				   <input type="text" class="form-control" placeholder="FirstName " name="firstName" id="firstName">
				   <i class="fa fa-user"></i>
				 </div>
				 <div class="form-group log-status">
				   <input type="text" class="form-control" placeholder="LastName" name="lastName" id="lastName">
				   <i class="fa fa-lock"></i>
		    	</div>
          	     <div class="form-group ">
				   <input type="text" class="form-control" placeholder="Username " name="username" id="sign-username">
				   <i class="fa fa-user"></i>
				 </div>
				 <div class="form-group log-status">
				   <input type="password" class="form-control" placeholder="Password" name="password" id="sign-password">
				   <i class="fa fa-lock"></i>
		    	</div>
                    <button type="submit" class="submit-btn"/>Get Started</button>
          
          </form>	
		</section>
		
		<section id="login" >
		
		  <h1>Welcome Back!</h1>
			          
          
			<form action="/auth/login" method="post">
          
				 <div class="form-group ">
				   <input type="text" class="form-control" placeholder="Username " name="username" id="username"/>
				   <i class="fa fa-user"></i>
				 </div>
				 <div class="form-group log-status">
				   <input type="password" class="form-control" placeholder="Password" name="password" id="password" />
				   <i class="fa fa-lock"></i>
				 </div>
          
				<p class="forgot"><a href="#">Forgot Password?</a></p>
          
				<button class="submit-btn" type="submit">Log In</button>
          
			</form>
		</section>
		

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/spectrum.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
	</div>
</div>

</body>
</html>